<div class="username">
  <div class="input">
  <input type="text" placeholder="Add Your Username">
  <button class="username-submit">Add</button>
  </div>
</div>

<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>SEND</button>
</form>